<h1>Hola soy el administrador</h1>
<div class="container" style="margin-top: 50px; ">
    <div class="row">
        <p class="text-end" >
            <a class="btn btn danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i> </a>
        </p>
    </div>
</div>